@font-face {
    font-family: opensans-regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: opensans-bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: andantino;
    src: url(../fonts/Andantino.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: ropasans;
    src: url(../fonts/RopaSans.ttf);
    font-weight: 300;
    font-style: normal;
}
 
body {
    margin: 0;
    padding: 0;
    font-family: opensans-regular;
}
  
a {
    text-decoration: none;
}

.page-header {
    background-color: #000000;
    background-image: url(../images/main_1200.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.page-header::after {
    content: " ";
    background-color: #000000;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-header-wrapper {
    margin-left: 7vw;
    margin-right: 7vw;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}

@media (max-width: 641px) {
    .page-header {
        background-image: url(../images/main_500.jpg);
    }
    
    .page-header-wrapper {
        margin-left: 5vw;
        margin-right: 5vw;
        position: relative;
        z-index: 1;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.top-line-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-atelier {
    font-family: andantino;
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0;
}

.telephone-number {
    color: #ffffff;
    font-family: opensans-bold;
    font-size: 18px;
}

.telephone-number:hover {
    color: #8cf7bc;
}

.adress-wrapper {
    margin-top: 10px;
}

.adress {
    font-family: opensans-bold;
}

@media (max-width: 641px) {
    .top-line-wrapper {
        display: inline; 
    }

    .logo-atelier {
        font-size: 30px;
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts-wrapper {
        margin-top: 20px;
        margin-left: 30vw;
    }

    .telephone-number {
        font-size: 14px;
    }

    .adress-wrapper {
        margin-top: 0;
    }

    .adress {
        font-size: 14px;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .logo-atelier {
        font-size: 45px;
    }

    .telephone-number {
        font-size: 16px;
    }

    .adress {
        font-size: 16px;
    }
}

.main-menu-wrapper {
    margin-top: 30px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.main-menu-list {
    display: flex;
    justify-content: space-around;
}

.main-menu-item {
    list-style: none;
}

.menu-item-link {    
    font-family: ropasans;
    color: #ffffff;
    font-size: 22px;
}

.menu-item-link:hover {
    color: #8cf7bc;
    border-bottom: 2px solid  #8cf7bc;
}

.slogan-wrapper {
    margin-top: 100px;
    margin-bottom: 80px;
}

.slogan {
    margin-left: 50px;
    font-family: ropasans;
    font-size: 60px;
}

@media (max-width: 641px) {
    .main-menu-list {
        display: inline;
        padding: 0;
    }

    .main-menu-item {
        text-align: center;
    } 

    .menu-item-link {    
        font-size: 16px;
    }

    .slogan-wrapper {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .slogan {
        margin-left: 0;
        font-size: 30px;
        text-align: center;
    }
}

.main-content-block {
    padding-left: 7vw;
    padding-right: 7vw;    
    padding-top: 40px;
}

.block-header {
    text-align: center;
    font-family: ropasans;
    font-size: 40px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.advantages-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.advantage-item {
    width: 20%;
}

.advantage-icon-circle {
    background-color: #8cf7bc;
    width: 130px;
    height: 130px;
    padding: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.advantage-icon {
    display: block;
    height: 70px;
    width: 70px;
}

.advantage-describtion {
    text-align: center;
    font-family: opensans-bold;
    font-size: 18px;
    margin-top: 30px;
}

@media (max-width: 641px) {
    .main-content-block {
        padding-left: 5vw;
        padding-right: 5vw;    
        padding-top: 20px;
    }

    .block-header {
        font-size: 25px;
    }

    .advantages-block {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .advantage-item {
        width: 45%;
    }

    .advantage-icon-circle {
        background-color: #8cf7bc;
        width: 90px;
        height: 90px;
        padding: 20px;
    }

    .advantage-icon {
        height: 50px;
        width: 50px;
    }

    .advantage-describtion {
        font-size: 14px;
        margin-top: 15px;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .main-content-block {
        padding-top: 20px;
    }
    
    .advantages-block {
        margin-bottom: 20px;
    }

    .advantage-describtion {
        font-size: 15px;
        margin-top: 15px;
    }
}

.main-content-block-grey {
    background-color: #f1f1f1;
}

.block-text-wrapper {
    text-align: center;
    padding-bottom: 40px;
}

.block-text {
    font-size: 18px;
}

.lower-header {
    font-family: ropasans;
    font-size: 30px;
    text-align: center;
}

.who-sews-item {
    display: flex;
    padding-bottom: 25px;
}

.who-sews-arrow {
    margin-right: 20px;
}

.who-sews-arrow-icon {
    width: 90px;
}

.who-sews-item-header {
    font-size: 18px;
    font-family: opensans-bold;
    margin: 0;
}

@media (max-width: 641px) {
    .block-text-wrapper {
        padding-bottom: 10px;
        text-align: left;
    }

    .block-text {
        font-size: 14px;
    }

    .lower-header {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .who-sews-item {
        padding-bottom: 10px;
    }

    .who-sews-arrow {
        margin-right: 8px;
    }

    .who-sews-arrow-icon {
        width: 30px;
    }

    .who-sews-item-header {
        font-size: 14px;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .block-text-wrapper {
        padding-bottom: 20px;
    }

    .lower-header {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .who-sews-arrow-icon {
        width: 60px;
    }
}

.what-we-sew-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    padding-bottom: 30px;
}

.what-we-sew-item {
    width: 22%;
    list-style: none;
    background-color: #8cf7bc;
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: opensans-bold;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
} 

@media (max-width: 641px) {
    .what-we-sew-list {
        padding-bottom: 10px;
    }

    .what-we-sew-item {
        width: 45%;
        margin-bottom: 5px;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
    } 
}

@media (min-width: 642px) and (max-width: 1000px) {
    .what-we-sew-list {
        padding-bottom: 20px;
    }
    .what-we-sew-item {
        width: 30%;
        margin-bottom: 8px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
    } 
}

.order-steps-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
    padding-bottom: 30px;
}

.order-steps-item {
    width: 30%;
    list-style: none;
    border: 3px solid #8cf7bc;
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: opensans-bold;
    padding-bottom: 10px;
    border-radius: 20px;
}

.order-steps-item-number {
    display: block;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8cf7bc;
    border-radius: 50%;
    line-height: 70px;
    font-size: 50px;
    font-family: opensans-regular;
    color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 641px) {
    .order-steps-list {
        padding-bottom: 10px;
    }

    .order-steps-item {
        border: 2px solid #8cf7bc;
        margin-bottom: 10px;
        font-size: 12px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    
    .order-steps-item-number {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .order-steps-list {
        padding-bottom: 0;
    }

    .order-steps-item {
        font-size: 16px;
    }

    .order-steps-item-number {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        line-height: 55px;
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.forhome-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 70px;
}

.forhome-img-wrapper {
    width: 30%;
    margin: 0;
    padding-bottom: 20px;
    padding-left: calc((30% - 250px) / 2);
    padding-right: calc((30% - 250px) / 2);
    box-sizing: border-box;
}
.forhome-img {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #8cf7bc;
    border-radius: 50%;
}

.forhome-img-description {
    text-align: center;
    font-size: 18px;
    font-family: opensans-bold;
}

@media (max-width: 641px) {
    .forhome-block {
        padding-bottom: 30px;
    }

    .forhome-img-wrapper {
        margin: 0;
        padding-bottom: 20px;
        padding-left: calc((30% - 80px) / 2);
        padding-right: calc((30% - 80px) / 2);
    }

    .forhome-img {
        width: 80px;
        height: 80px;
        border: 2px solid #8cf7bc;
    }

    .forhome-img-description {
        font-size: 12px;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .forhome-block {
        padding-bottom: 40px;
    }

    .forhome-img-wrapper {
        margin: 0;
        padding-bottom: 20px;
        padding-left: calc((30% - 180px) / 2);
        padding-right: calc((30% - 180px) / 2);
    }

    .forhome-img {
        width: 180px;
        height: 180px;
    }

    .forhome-img-description {
        font-size: 16px;
    }
}

.contacts-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}

.contacts-info-wrapper {
    width: 40%;
    padding-top: 50px;
}

.contacts-info-item {
    padding: 20px 0 20px 80px;
    position: relative;
}

.contacts-info-item::before {
    content: " ";
    background-image: url(../images/placeholder.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 15px;
}

.contacts-info-item-second::before {
    background-image: url(../images/call.png);
}

.contacts-info-item-third::before {
    background-image: url(../images/time.png);
}

.contacts-info-item-header {
    font-size: 18px;
    font-family: opensans-bold;
    margin: 0;
}

.contacts-info-item-text {
    margin: 0;
}

.telephone {
    color: #000000;
}

.telephone:hover {
    color:  #8cf7bc;
}

.map-wrapper {
    border: 3px solid #8cf7bc;
    width: 50%;

}

.map {
    width: 100%;
    height: 100%;
}

@media (max-width: 641px) {
    .contacts-block-wrapper {
        display: inline;
        padding-bottom: 30px;
    }

    .contacts-info-wrapper {
        width: 100%;
        padding-top: 0;
    }

    .contacts-info-item {
        padding: 15px 0 15px 50px;
    }

    .contacts-info-item::before {
        width: 30px;
        height: 30px;
        top: 20px;
    }
    
    .contacts-info-item-header {
        font-size: 14px;
    }

    .contacts-info-item-text {
        font-size: 14px;
    }

    .map-wrapper {
        border: 2px solid #8cf7bc;
        width: 100%;
        height: 260px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .map {
        width: 100%;
        height: 260px;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .contacts-block-wrapper {
        display: inline;
        padding-bottom: 30px;
    }

    .contacts-info-wrapper {
        width: 100%;
        padding-top: 0;
    }

    .contacts-info-item {
        padding: 10px 0 10px 60px;
    }

    .contacts-info-item::before {
        width: 40px;
        height: 40px;
    }

    .map-wrapper {
        margin-bottom: 30px;
        width: 100%;
        height: 250px;

    }

    .map {
        width: 100%;
    }
}

.page-footer {
    background-color: #000000;
    background-image: url(../images/footer_1200.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.page-footer::after {
    content: " ";
    background-color: #000000;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-footer-container {
    margin-left: 7vw;
    margin-right: 7vw;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo-atelier-footer {
    font-size: 25px;
    line-height: 40px;
}

.main-menu-list-footer {
    margin: 0;
    padding-left: 0;
}

.main-menu-item-footer {
    padding-left: 40px;
    line-height: 40px;
}

.menu-item-link-footer {    
    font-size: 12px;
}

.menu-item-link:hover {
    color: #8cf7bc;
    border-bottom: 0;
}

.footer-inf {
    margin-top: 15px;
    line-height: 40px;
    font-family: opensans-regular;
    font-size: 12px;
}

@media (max-width: 641px) {
    .page-footer {
        background-image: url(../images/footer_500.jpg);
    }

    .page-footer-container {
        margin-left: 5vw;
        margin-right: 5vw;
        position: relative;
        z-index: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }

    .logo-atelier-footer {
        width: 100%;
    }

    .menu-list-footer {
        margin-top: 30px;
    }

    .main-menu-item-footer {
        padding-left: 0;
        line-height: 20px;
    }

    .footer-inf {
        font-size: 10px;
        color: #f1f1f1;
        line-height: 16px;
        margin-bottom: 0;
    }
}

@media (min-width: 642px) and (max-width: 1000px) {
    .page-footer-container {
        flex-direction: column;
    }

    .logo-atelier-footer {
        width: 100%;
    }

    .menu-list-footer {
        margin-top: 30px;
    }

    .main-menu-item-footer {
        padding-left: 0;
    }

    .main-menu-item-footer:nth-child(n+2) {
        padding-left: 30px;
    }

    .footer-inf {
        line-height: 18px;
    }
}